@font-face{font-family:"noto";font-style:normal;font-weight:400;src:url(fonts/noto.ttf) format("truetype");}
@font-face{font-family:"notodisplay";font-style:normal;font-weight:400;src:url(fonts/notodisplay.ttf) format("truetype");}
@font-face{font-family:"notomono";font-style:normal;font-weight:400;src:url(fonts/notomono.ttf) format("truetype");}
@font-face{font-family:"notoserif";font-style:normal;font-weight:400;src:url(fonts/notoserif.ttf) format("truetype");}
@font-face{font-family:"dejavulight";font-style:normal;font-weight:400;src:url(fonts/dejavulight.ttf) format("truetype");}
@font-face{font-family:"dejavucond";font-style:normal;font-weight:400;src:url(fonts/dejavucond.ttf) format("truetype");}
@font-face{font-family:"dejavuobl";font-style:normal;font-weight:400;src:url(fonts/dejavuobl.ttf) format("truetype");}
